/*All spacing done manually (no margins/padding)*/
* {
	margin: 0px;
	padding: 0px;
}

html, body {
	position: relative;
	height: 100%;
	font-family: Ubuntu;
}

#returntop {
	z-index: 1000;
	color: blue;
	position: fixed;
	bottom: 0px;
	right: 0px;
	text-decoration: none;
}

/*Header first level*/
#header {
	z-index: 500;
	height: 10%;
}

/*#809fff*/

#firstlevel {
	display: table;
	height: 100%;
	width: 100%;
}

#firstlevel li {	
	list-style-type: none;
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: x-large;
}

#firstlevel li:hover {
	cursor: pointer;
	color: blue;
}

#firstlevel li a {
	text-decoration: none;
	color: white;
}

#firstlevel li a:hover {
	color: blue;
}
/*Header first level*/

/*Content*/
#wrap {
	position: relative;
	min-height: 100%;
	background: linear-gradient(teal, lightgreen);
}

#main {
	min-height: 100%
}

.maincontent {
	overflow-x: hidden
}

#homewrap {
	min-height: 100%
}

#home {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	text-align: center;
}

#home h1 {
	vertical-align: middle;
	font-size: xx-large;
}

#home img {
	display: block;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#home img:hover {
	cursor: pointer;
}

#nothome {
	position: absolute;
	min-height: 100%;
	top: 100%;
}

#about {
	min-height: 100%;
	color: white;
	background-color: #595959;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}

#elevatorspeech {
	padding-top: 20px;
	padding-bottom: 20px;
}

#about p {
	position: relative;
	width: 60%;
	display: inline;
	font-size: large;
	padding-top: 200px;
	padding-bottom: 200px;
}

#about h1 {
	padding-top: 20px;
}

#about img {
	position: relative;
	border: 2px solid black;
	border-radius: 50%;
	display: inline-block;
	margin: auto;
	vertical-align: middle;
}

#projects {
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
	background-color: lightgreen;
}

#projectcontainer {
	margin: auto;
	display: flex;
    justify-content: space-between;
}

#projects h1 {
	display: block;
	padding-bottom: 10px;
}

.project{
	position: relative;
	width: 40%;
	color: white;
	background-color: teal;
	border: 2px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

#summary {
	font-size: large;
	text-align: center;
	margin: auto;
	width: 80%;
}

.project img {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
	height: 60%;
	width: 60%;
}

#coursework {
	background: linear-gradient(lightgreen, white);
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
}

#coursework h1 {
	text-align: center;
	padding-bottom: 10px
}

#coursework h2 {
	padding-bottom: 10px;
}

#coursecontent {
	margin: auto;
	width: 80%;
}

#coursework ul {
	padding-top: 10px;
	list-style: none;
	display: flex;
    justify-content: space-between;
}

#cf {
	height: 40%;
}

#technologies {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: flex;
    justify-content: space-between;
	list-style: none;
	position: absolute;
	bottom: 2px;
}
/*Content*/

/*Footer*/
#footer {
	color: white;
	text-align: center;
	min-height: 10%;
	background-color: #595959;
	z-index: 1;
}

#footer h3 {
	padding-top: 5px;
	padding-bottom: 3px;
}

#connect {
	vertical-align: middle;
}

svg {
	height: 30px;
	width: 30px;
}

svg path{
	fill: white;
}

svg:hover path {
	fill: #809fff;
}
/*Footer*/