/*All spacing done manually (no margins/padding)*/
* {
	margin: 0px;
	padding: 0px;
}

html, body {
	position: relative;
	max-width: 100%;
	height: 100%;
	font-family: Ubuntu;
}

#returntop {
	z-index: 1000;
	color: blue;
	position: fixed;
	bottom: 0px;
	right: 0px;
	text-decoration: none;
}

#header {
	position: absolute;
	display: table;
	height: 5%;
	width: 100%;
	z-index: 500;
}

#header li {	
	list-style-type: none;
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: x-large;
}

#header:hover {
	cursor: pointer;
	color: blue;
}

#header li a {
	text-decoration: none;
	color: white;
}

#header li a:hover {
	color: blue;
}

/*Home
----------------------------------------*/
#homewrap {
	position: absolute;
	max-height: 100%;
	top: 0px;
	height: 100%;
	width: 100%;
	background: linear-gradient(teal, lightgreen);
}

#home {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

#home h1 {
	vertical-align: middle;
	font-size: xx-large;
}

#home img {
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#home img:hover {
	cursor: pointer;
}

#nothome {
	position: absolute;
	top: 100%;
	width: 100%;
	min-height: 100%;
}
/*Home*/

/*About
----------------------------------------*/
#about {
	position: relative;
	min-height: 100%;
	color: white;
	background-color: #595959;
	margin: auto;
	text-align: center;
	padding-bottom: 20px;
}

#elevatorspeech {
	margin: auto;
	width: 80%;
	padding-top: 10px;
	padding-bottom: 20px;
}

#elevatorspeech p {
	position: relative;
	width: 60%;
	display: inline;
	font-size: x-large;
}

#about h1 {
	padding-top: 20px;
}

#about img {
	position: relative;
	border: 2px solid black;
	border-radius: 50%;
	display: inline-block;
	margin: auto;
	height: 200px;
	width: 200px;
}
/*About*/

/*Projects
----------------------------------------*/
#projects {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: lightgreen;
}

#projectcontainer {
	display: block;
	margin: auto;
}

#projects h1 {
	padding-bottom: 10px;
}

#projects h3 {
	display: block;
}

.project{
	position: relative;
	display: inline-block;
	width: 300px;
	height: 300px;
	color: white;
	background-color: teal;
	padding: 10px;
	border-radius: 5px;
}

.project + .project {
	margin-top-top: 10px;
}

.project img {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
	width: 200px;
	height: 200px;
}

.project:after {
	
}

#technologies {
	display: table;
	margin: auto;
	width: 80%;
	list-style: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2px;
}

#technologies li {
	display: table-cell;
	text-align: center;
}
/*Projects*/

/*Coursework
----------------------------------------*/
#coursework {
	background: linear-gradient(lightgreen, white);
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
}

#coursework h1 {
	text-align: center;
	padding-bottom: 10px
}

#coursework h2 {
	padding-bottom: 10px;
}

#coursecontent {
	margin: auto;
	width: 80%;
}

#coursework ul {
	padding-top: 10px;
	list-style: none;
	display: flex;
    justify-content: space-between;
}
/*Coursework*/

/*Footer
-------------------------*/
#footer {
	color: white;
	text-align: center;
	min-height: 10%;
	background-color: #595959;
	z-index: 1;
}

#footer h3 {
	padding-top: 5px;
	padding-bottom: 3px;
}

#connect {
	vertical-align: middle;
}

svg {
	height: 30px;
	width: 30px;
}

svg path{
	fill: white;
}

svg:hover path {
	fill: #809fff;
}
/*Footer*/

/*Larger Smartphones*/
@media only screen and (max-width:767px) {
	h1 {
		font-size: large;
	}

	#header li {
		font-size: medium;
	}

	#home h1 {
		font-size: large;
	}

	#home img {
		height: 70%;
		width: 70%;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#about p {
		font-size: medium;
	}

	.project {

	}

	#projects p {
		font-size: medium;
	}

	#projects li {
		font-size: small;
	}

	#coursework h2 {
		font-size: large;
	}

	#coursework p {
		font-size: small;
	}

	#coursework li {
		font-size: x-small;
	}
}

/*Smartphones*/
@media only screen and (max-width:480px) {
	h1 {
		font-size: small;
	}

	#header li {
		font-size: small;
	}

	#home h1 {
		font-size: large;
	}

	#home img {
		height: 70%;
		width: 70%;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	#about p {
		font-size: x-small;
	}

	.project {
		width: 80%;
	}

	#projects p {
		font-size: x-small;
	}

	#projects li {
		font-size: x-small;
	}

	#coursework h2 {
		font-size: small;
	}

	#coursework p {
		font-size: x-small;
	}

	#coursework li {
		font-size: xx-small;
	}
}